@model Models.UserInfo
@{
    ViewBag.Title = "Register";
    Layout = null;
}

<h2>Register</h2>
@using (Html.BeginForm())
{
    <div>Phone Number:@Html.TextBoxFor(a => a.PhoneNumber)</div>
    <div>UserName:@Html.TextBoxFor(a => a.UserName)</div>
    <div>Password:@Html.TextBoxFor(a => a.Password)</div>
    <div>
        <img id="img" src="@Url.Action("GetValidateCode","Account")" onclick="this.src=this.src+'?'+(new Date()).getTime()">@*方法名，控制器名*@
        @*this.src = "../Account/GetValidateCode?time=" + (new Date()).getTime()*@
        @*onclick="this.src=this.src+'?'+Math.random()"*@
        <a onclick="document.getElementById('img').onclick()">换一张?</a><br />
        @*<span onclick="ChangeImg()">Change ValidateCode</span>*@
    </div>
    <div>ValidateCode:<input type="text" placeholder="please input ValidateCode!" name="verifycode" /></div>
    <input type="submit" value="Log up" />
}


